@id("AdminCanManageUserIdentityAndAccess")
permit(
  principal in Jans::Role::"admin",
  action in [Jans::Action::"add",
  Jans::Action::"update", Jans::Action::"view", Jans::Action::"delete"],
  resource is Jans::IdentityAccessResource
);