@id("AdminCanManageAuthServerConfiguration")
permit(
  principal in Gluu::Flex::AdminUI::Role::"admin",
  action in [Gluu::Flex::AdminUI::Action::"add",
  Gluu::Flex::AdminUI::Action::"update",
  Gluu::Flex::AdminUI::Action::"view",
  Gluu::Flex::AdminUI::Action::"delete"],
  resource is Gluu::Flex::AdminUI::AuthServerConfigurationResource
);