@id("AdminCanDeleteSSA")
permit(
  principal in Gluu::Flex::ConfigAPI::Role::"admin",
  action in [Gluu::Flex::ConfigAPI::Action::"DELETE"],
  resource is Gluu::Flex::ConfigAPI::SSAResource
);